name: Docker Image CI

on:
  [workflow_dispatch]
#   push:
#     branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build ./ --file Dockerfile --tag nixtus/node-firebase :$(date +%s)
    - name: Publish the Docker image
      run: |
        docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_TOKEN }}
        docker push nixtus/node-firebase:latest
